**/node_modules/

# Build directories
**/dist/
**/build/

# Environment variables
**/.env
**/.env.local

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# VSCode (optional)
.vscode/

# System files
.DS_Store